<div class="well well-lg">
	<div class="article-title">
		<h3><%= @article.title %></h3>
	</div>
	<div class="article-body">
		<p>
			<%= @article.description %>
		</p>
	</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Author</h3>
  </div>
  <div class="panel-body">
    <div class="row">
		<div class="col-md-2 text-center">
			<%= link_to gravatar_for(@article.user), user_path(@article.user) %>
		</div>
		<div class="col-md-10 user-details">
			<h3><%= link_to @article.user.username, user_path(@article.user) %></h3>
			<p><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></p>
		</div>
	</div>
  </div>
</div>


<% if logged_in? && (current_user == @article.user || current_user.admin? ) %>
<%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-sm btn-info" %>
<%= link_to "Back to Articles List", articles_path, class: "btn btn-sm btn-warning" %>
<% end %>
